In [12]:
import sys
from loglizer.models import InvariantsMiner
from loglizer import dataloader, preprocessing

In [13]:
struct_log = 'C:/Users/naren/Industry Project/Log anomaly detection/loglizer/data/HDFS/HDFS_100k.log_structured.csv'
label_file = "C:/Users/naren/Industry Project/Log anomaly detection/loglizer/data/HDFS/anomaly_label.csv"
epsilon = 0.5 # threshold for estimating invariant space

In [16]:
(x_train, y_train), (x_test, y_test) = dataloader.load_HDFS(struct_log,
                                                            label_file=label_file,
                                                            window='session', 
                                                            train_ratio=0.5,
                                                            split_type='sequential')
feature_extractor = preprocessing.FeatureExtractor()
x_train = feature_extractor.fit_transform(x_train)
x_test = feature_extractor.transform(x_test)

model = InvariantsMiner(epsilon=epsilon)
model.fit(x_train)

print('Train validation:')
precision, recall, f1 = model.evaluate(x_train, y_train)

print('Test validation:')
precision, recall, f1 = model.evaluate(x_test, y_test)

====== Input data summary ======
Loading C:/Users/naren/Industry Project/Log anomaly detection/loglizer/data/HDFS/HDFS_100k.log_structured.csv
118 195
Total: 7940 instances, 313 anomaly, 7627 normal
Train: 3970 instances, 118 anomaly, 3852 normal
Test: 3970 instances, 195 anomaly, 3775 normal

====== Transformed train data summary ======
Train data shape: 3970-by-14

====== Transformed test data summary ======
Test data shape: 3970-by-14

====== Model summary ======
Invariant space dimension: 11
Mined 10 invariants: {(0, 1): [1, -3], (0, 2): [1, -1], (0, 3): [1, -1], (0, 4): [1, -1], (6, 12): [1, -10], (6, 13): [1, -10], (7, 8): [1, -58], (7, 9): [1, -101], (7, 10): [1, -101], (7, 11): [1, -101]}

Train validation:
====== Evaluation summary ======
Precision: 0.947, recall: 0.305, F1-measure: 0.462

Test validation:
====== Evaluation summary ======
Precision: 0.973, recall: 0.559, F1-measure: 0.710

In [23]:
train, test = dataloader.load_HDFS(struct_log,
                                                            label_file=label_file,
                                                            window='session', 
                                                            train_ratio=0.5,
                                                            split_type='sequential')

====== Input data summary ======
Loading C:/Users/naren/Industry Project/Log anomaly detection/loglizer/data/HDFS/HDFS_100k.log_structured.csv
118 195
Total: 7940 instances, 313 anomaly, 7627 normal
Train: 3970 instances, 118 anomaly, 3852 normal
Test: 3970 instances, 195 anomaly, 3775 normal

In [30]:
train

(array([list(['E22', 'E5', 'E5', 'E5', 'E26', 'E11', 'E9', 'E26', 'E11', 'E9', 'E11', 'E9', 'E26']),
        list(['E5', 'E22', 'E5', 'E5', 'E26', 'E26', 'E11', 'E9', 'E11', 'E9', 'E11', 'E9', 'E26']),
        list(['E5', 'E22', 'E5', 'E5', 'E11', 'E9', 'E11', 'E9', 'E26', 'E11', 'E9', 'E26', 'E26']),
        ...,
        list(['E5', 'E5', 'E22', 'E5', 'E11', 'E9', 'E11', 'E9', 'E26', 'E11', 'E9', 'E26', 'E26', 'E2', 'E2', 'E2']),
        list(['E5', 'E5', 'E22', 'E5', 'E11', 'E9', 'E11', 'E9', 'E11', 'E9', 'E26', 'E26', 'E26']),
        list(['E5', 'E5', 'E22', 'E5', 'E11', 'E9', 'E11', 'E9', 'E11', 'E9', 'E26', 'E26', 'E26', 'E2'])],
       dtype=object),
 None)

In [26]:
train, test, well = dataloader.load_HDFS(struct_log,
                                                    window='session', 
                                                    train_ratio=0.5,
                                                    split_type='sequential')

====== Input data summary ======
Loading C:/Users/naren/Industry Project/Log anomaly detection/loglizer/data/HDFS/HDFS_100k.log_structured.csv
Total: 7940 instances, train: 3970 instances, test: 3970 instances

In [28]:
well

,BlockId,EventSequence
0,blk_-1608999687919862906,"[E5, E22, E5, E5, E11, E11, E9, E9, E11, E9, E..."
1,blk_7503483334202473044,"[E5, E5, E22, E5, E11, E9, E11, E9, E11, E9, E..."
2,blk_-3544583377289625738,"[E5, E22, E5, E5, E11, E9, E11, E9, E11, E9, E..."
3,blk_-9073992586687739851,"[E5, E22, E5, E5, E11, E9, E11, E9, E11, E9, E..."
4,blk_7854771516489510256,"[E5, E5, E22, E5, E11, E9, E11, E9, E11, E9, E..."
...,...,...
7935,blk_-1445970677921829671,"[E22, E5, E5, E5, E11, E9, E11, E9, E26, E26, ..."
7936,blk_-5943236831140622436,"[E22, E5, E5, E5, E26, E26, E26, E11, E9, E11,..."
7937,blk_-5039164935117450945,"[E22, E5, E5, E5, E26, E26, E11, E9, E11, E9, ..."
7938,blk_7379833155074044619,"[E22, E5, E5, E5, E26, E26, E11, E9, E11, E9, ..."
7939,blk_8909107483987085802,"[E22, E5, E5, E5, E26, E26, E11, E9, E11, E9, ..."